site_name: Decred Documentation
theme: 
  name: material
  favicon: 'img/favicon.ico?v=s3ss'
  logo: 'img/decred_logo_symbol_128.svg'
  font: false
extra:
  decreditonversion: 1.4.0
  cliversion: 1.4.0
  pivoterversion: 1.4.0
  gominerversion: 1.0.0
  seedWarning1:
    "During the creation process for your wallet, you will be given a sequence of 33 words known as a seed phrase. This seed phrase is essentially the private key for your wallet. You will be able to use this seed phrase to restore your private keys, transaction history, and balances using any Decred wallet on any computer."
  seedWarning2:
    "This ultimately means that *anyone* who knows your seed can use it to restore your private keys, transaction history, and balances to a Decred wallet on their computer without your knowledge. For this reason, it is of utmost importance to keep your seed phrase safe. Treat this seed the same way you would treat a physical key to a safe. If you lose your seed phrase, you permanently lose access to your wallet and all funds within it. It cannot be recovered by anyone, including the Decred developers. It is recommended you write it down on paper and store that somewhere secure. If you decide to keep it on your computer, it would be best to keep it in an encrypted document (do not forget the password) in case the file or your computer is stolen."
  seedWarning3:
    "Every seed phrase is also associated with a 64 character seed hex. The seed hex functions the same way as the seed phrase, so it is also important to keep your seed hex secure."
  seedWarning4:
    "**DO NOT, UNDER ANY CIRCUMSTANCES, GIVE YOUR SEED OR THE ASSOCIATED HEX KEY TO ANYONE! NOT EVEN DECRED DEVELOPERS!**"
  social:
    - type: 'github'
      link: 'https://github.com/decred'
    - type: 'twitter'
      link: 'https://twitter.com/decredproject'
    - type: 'medium'
      link: 'https://medium.com/decred'
    - type: 'reddit'
      link: 'https://www.reddit.com/r/decred/'
    - type: 'youtube'
      link: 'https://www.youtube.com/decredchannel'
    - type: 'linkedin'
      link: 'https://www.linkedin.com/company/decredproject/'
    - type: 'facebook'
      link: 'https://www.facebook.com/decredproject/'
    - type: 'weibo'
      link: 'https://weibo.com/DecredProject'
repo_url: https://github.com/decred/dcrdocs
repo_name: decred/dcrdocs
markdown_extensions:
  - markdown.extensions.footnotes
  - markdown.extensions.smarty
  - markdown.extensions.admonition
  - markdown.extensions.toc:
      permalink: True
  - markdown.extensions.tables
  - pymdownx.details
  - pymdownx.arithmatex
  - fontawesome_markdown
extra_javascript:
  - js/MathJax-2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML
extra_css:
  - css/fonts.css
  - css/style.css
plugins:
  - markdownextradata
  - search
nav:
- 'Home': 'index.md'
- Getting Started:
  - "Beginner's Guide": 'getting-started/beginner-guide.md'
  - 'Obtaining DCR': 'getting-started/obtaining-dcr.md'
  - 'Using the Block Explorer': 'getting-started/using-the-block-explorer.md'
- Governance:
  - 'Overview': 'governance/overview.md'
  - Politeia:
    - 'Overview': 'governance/politeia/overview.md'
    - 'Proposal Guidelines': 'governance/politeia/proposal-guidelines.md'
    - 'Example Proposals': 'governance/politeia/example-proposals.md'
    - 'Censorship': 'governance/politeia/politeia-censorship.md'
  - Consensus Rule Voting:
    - 'Overview': 'governance/consensus-rule-voting/overview.md'
    - 'How to Vote': 'governance/consensus-rule-voting/how-to-vote.md'
    - 'Verifying Votes': 'governance/consensus-rule-voting/verifying-votes.md'
    - 'Consensus Vote Archive': 'governance/consensus-rule-voting/consensus-vote-archive.md'
  - 'Decred Constitution': 'governance/decred-constitution.md'
- Wallets:
    - Decrediton (GUI):
      - 'Decrediton Setup': 'wallets/decrediton/decrediton-setup.md'
      - 'Using Decrediton': 'wallets/decrediton/using-decrediton.md'
      - 'Upgrading Decrediton': 'wallets/decrediton/upgrading-decrediton.md'
      - 'Troubleshooting Problems': 'wallets/decrediton/decrediton-troubleshooting.md'
    - CLI Wallet:
      - 'Installation': 'wallets/cli/cli-installation.md'
      - 'OS Differences': 'wallets/cli/os-differences.md'
      - 'Startup Basics': 'wallets/cli/startup-basics.md'
      - 'dcrd Setup': 'wallets/cli/dcrd-setup.md'
      - 'dcrwallet Setup': 'wallets/cli/dcrwallet-setup.md'
      - 'dcrctl Basics': 'wallets/cli/dcrctl-basics.md'
      - 'Buying Tickets': 'wallets/cli/dcrwallet-tickets.md'
      - 'dcrd and dcrwallet CLI Arguments': 'wallets/cli/dcrd-and-dcrwallet-cli-arguments.md'
      - 'dcrctl RPC Commands': 'wallets/cli/dcrctl-rpc-commands.md'
    - 'SPV': 'wallets/spv.md'
    - 'Lightning Network (LN)': 'wallets/lightning.md'
    - 'Hardware Wallets': 'wallets/hardware-wallets.md'
- Proof-of-Stake Voting:
  - "Overview": 'proof-of-stake/overview.md'
  - "How to Stake": 'proof-of-stake/how-to-stake.md' 
  - "Ticket Splitting": 'proof-of-stake/ticket-splitting.md' 
- Proof-of-Work Mining:
  - 'Overview': 'mining/overview.md'
  - 'gominer Pool Mining': 'mining/proof-of-work/pool-mining/gominer.md'
- FAQ:
  - 'General': 'faq/general.md'
  - 'Configuration': 'faq/configuration.md'
  - 'Wallets and Seeds': 'faq/wallets-and-seeds.md'
  - 'Blocks': 'faq/blocks.md'
  - 'Common Errors and Solutions': 'faq/errors.md'
  - 'PoW': 'faq/proof-of-work-mining.md'
  - PoS:
    - 'General': 'faq/proof-of-stake/general.md'
    - 'Solo Voting': 'faq/proof-of-stake/solo-voting.md'
    - 'Buying Tickets and Fees': 'faq/proof-of-stake/buying-tickets-and-fees.md'
    - 'Voting Tickets': 'faq/proof-of-stake/voting-tickets.md'
    - 'Voting Service Providers': 'faq/proof-of-stake/voting-service-providers.md'
- Advanced:
  - 'Address Details': advanced/address-details.md
  - 'Using Testnet': 'advanced/using-testnet.md'
  - 'Manual CLI Installation': 'advanced/manual-cli-install.md'
  - 'Block Header Specifications': 'advanced/block-header-specifications.md'
  - 'Blockchain Parameters': 'advanced/blockchain-parameters.md'
  - 'Transaction Details': 'advanced/transaction-details.md'
  - 'dcrtime': 'advanced/dcrtime.md'
  - 'Verifying Binaries': 'advanced/verifying-binaries.md'
  - 'Premine': 'advanced/premine.md'
  - 'Inflation': 'advanced/inflation.md'
  - 'Deleting Your Wallet': 'advanced/deleting-your-wallet.md'
  - 'Navigating Politeia Data': 'advanced/navigating-politeia-data.md'
  - 'Simnet': 'advanced/simnet.md'
  - 'Solo Proof-of-Stake (PoS) Voting': 'advanced/solo-proof-of-stake-voting.md'
  - 'Operating a VSP': 'advanced/operating-a-vsp.md'
  - 'Running a Full Node': 'advanced/full-node.md'
  - 'Security': 'advanced/general-security.md'
  - 'Atomic Swaps': 'advanced/atomic-swap.md'
- Research:
  - 'Overview': 'research/overview.md'
  - 'Hybrid Design': 'research/hybrid-design.md'
  - 'Decentralized Stake Pooling': 'research/decentralized-stake-pooling.md'
  - 'Elliptic Curve Signature Algorithms': 'research/elliptic-curve-signature-algorithms.md'
  - 'BLAKE-256 Hash Function': 'research/blake-256-hash-function.md'
  - 'Script Extensions': 'research/script-extensions.md'
  - 'Signature Script Isolation and Fraud Proofs': 'research/signature-script-isolation-and-fraud-proofs.md'
  - 'Block Production Times': 'research/block-production-times.md'
  - 'Transaction Extensions': 'research/transaction-extensions.md'
  - 'Ticket Selection Algorithm': 'research/ticket-selection-algorithm.md'
  - 'Schnorr Signatures': 'research/schnorr-signatures.md'
  - 'Miscellaneous Improvements': 'research/miscellaneous-improvements.md'
- Contributing:
  - 'Overview': 'contributing/overview.md'
  - 'Contributor Compensation': 'contributing/contributor-compensation.md'
  - Guidelines:
    - 'Using GitHub': 'contributing/using-github.md'
    - 'Source Code Contributions': 'contributing/source-code-contributions.md'
- About:
  - 'Credits': 'about/credits.md'
  - 'License': 'about/license.md'
- 'Glossary': 'glossary.md'
copyright: If you wish to improve this site, please <a href="https://github.com/decred/dcrdocs/issues/new"><i class="fa fa-github"></i> open an issue</a> or <a href="https://github.com/decred/dcrdocs/compare"><i class="fa fa-github"></i> send a pull request</a>.<br>dcrdocs v0.0.3. Decred Project 2019.
