site_name: Decred Documentation
theme:
  name: material
  favicon: 'img/favicon.ico?v=s3ss'
  logo: 'img/decred_logo_symbol_color_gradient_128.svg'
  font: false
  features:
    - navigation.instant
  icon:
    repo: octicons/mark-github-16
extra:
  decreditonversion: 1.5.2
  cliversion: 1.5.2
  gominerversion: 1.0.0
  lndversion: 0.2.1
  social:
    - icon: octicons/mark-github-16
      link: https://github.com/decred
      name: GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/decredproject
      name: Twitter
    - icon: fontawesome/brands/medium
      link: https://medium.com/decred
      name: Medium
    - icon: fontawesome/brands/reddit
      link: https://www.reddit.com/r/decred/
      name: Reddit
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/decredchannel
      name: YouTube
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/decredproject/
      name: LinkedIn
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/decredproject/
      name: Facebook
    - icon: fontawesome/brands/weibo
      link: https://weibo.com/DecredProject
      name: Weibo
repo_url: https://github.com/decred/dcrdocs
repo_name: decred/dcrdocs
markdown_extensions:
  - markdown.extensions.footnotes
  - markdown.extensions.smarty
  - markdown.extensions.admonition
  - markdown.extensions.toc:
      permalink: True
  - markdown.extensions.tables
  - markdown.extensions.attr_list
  - pymdownx.snippets:
      check_paths: True
      base_path: 'snippets'
  - pymdownx.details
  - pymdownx.tilde
  - pymdownx.caret
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed
  - pymdownx.superfences
extra_css:
  - css/fonts.css
  - css/style.css
plugins:
  - markdownextradata
  - search
nav:
- 'Home': 'index.md'
- Getting Started:
  - "Beginner's Guide": 'getting-started/beginner-guide.md'
  - 'Obtaining DCR': 'getting-started/obtaining-dcr.md'
  - 'Using the Block Explorer': 'getting-started/using-the-block-explorer.md'
  - 'Joining Matrix': 'getting-started/joining-matrix-channels.md'
  - 'Articles & Media': 'getting-started/articles-and-media.md'
- Governance:
  - 'Overview': 'governance/overview.md'
  - Politeia:
    - 'Overview': 'governance/politeia/overview.md'
    - 'Proposal Guidelines': 'governance/politeia/proposal-guidelines.md'
    - 'Example Proposals': 'governance/politeia/example-proposals.md'
    - 'Censorship': 'governance/politeia/politeia-censorship.md'
  - Consensus Rule Voting:
    - 'Overview': 'governance/consensus-rule-voting/overview.md'
    - 'How to Vote': 'governance/consensus-rule-voting/how-to-vote.md'
    - 'Verifying Votes': 'governance/consensus-rule-voting/verifying-votes.md'
    - 'Consensus Vote Archive': 'governance/consensus-rule-voting/consensus-vote-archive.md'
  - 'Decred Constitution': 'governance/decred-constitution.md'
- Wallets:
    - Decrediton (GUI):
      - 'Decrediton Setup': 'wallets/decrediton/decrediton-setup.md'
      - 'Using Decrediton': 'wallets/decrediton/using-decrediton.md'
      - 'Upgrading Decrediton': 'wallets/decrediton/upgrading-decrediton.md'
      - 'Trezor Wallets': 'wallets/decrediton/trezor.md'
      - 'Troubleshooting Problems': 'wallets/decrediton/decrediton-troubleshooting.md'
    - CLI Wallet:
      - 'Installation': 'wallets/cli/cli-installation.md'
      - 'OS Differences': 'wallets/cli/os-differences.md'
      - 'Startup Basics': 'wallets/cli/startup-basics.md'
      - 'dcrd Setup': 'wallets/cli/dcrd-setup.md'
      - 'dcrwallet Setup': 'wallets/cli/dcrwallet-setup.md'
      - 'dcrctl Basics': 'wallets/cli/dcrctl-basics.md'
      - 'Buying Tickets': 'wallets/cli/dcrwallet-tickets.md'
      - 'dcrd and dcrwallet CLI Arguments': 'wallets/cli/dcrd-and-dcrwallet-cli-arguments.md'
      - 'dcrctl RPC Commands': 'wallets/cli/dcrctl-rpc-commands.md'
    - 'SPV': 'wallets/spv.md'
    - 'Hardware Wallets': 'wallets/hardware-wallets.md'
    - 'Mobile Wallets': 'wallets/mobile-wallets.md'
- Proof-of-Stake Voting:
  - "Overview": 'proof-of-stake/overview.md'
  - "How to Stake": 'proof-of-stake/how-to-stake.md'
  - "Redeem Script": 'proof-of-stake/redeem-script.md'
  - "Ticket Splitting": 'proof-of-stake/ticket-splitting.md'
- Proof-of-Work Mining:
  - 'Overview': 'mining/overview.md'
  - 'gominer Pool Mining': 'mining/proof-of-work/pool-mining/gominer.md'
- Privacy:
  - 'General Privacy': 'privacy/general-privacy.md'
  - CoinShuffle++:
    - 'Overview': 'privacy/cspp/overview.md'
    - 'How to use CSPP': 'privacy/cspp/how-to-cspp.md'
- Lightning Network:
  - 'Overview': 'lightning-network/overview.md'
  - 'Backups': 'lightning-network/backups.md'
  - 'Watchtowers': 'lightning-network/watchtowers.md'
  - dcrlncli:
    - 'Options and Commands': 'lightning-network/dcrlncli/options-and-commands.md'
    - Autopilot Commands:
      - 'autopilot': 'lightning-network/dcrlncli/autopilot.md'
    - Channel Commands:
      - 'openchannel': 'lightning-network/dcrlncli/openchannel.md'
      - 'closechannel': 'lightning-network/dcrlncli/closechannel.md'
      - 'closeallchannels': 'lightning-network/dcrlncli/closeallchannels.md'
      - 'abandonchannel': 'lightning-network/dcrlncli/abandonchannel.md'
      - 'channelbalance': 'lightning-network/dcrlncli/channelbalance.md'
      - 'pendingchannels': 'lightning-network/dcrlncli/pendingchannels.md'
      - 'listchannels': 'lightning-network/dcrlncli/listchannels.md'
      - 'closedchannels': 'lightning-network/dcrlncli/closedchannels.md'
      - 'getnetworkinfo': 'lightning-network/dcrlncli/getnetworkinfo.md'
      - 'feereport': 'lightning-network/dcrlncli/feereport.md'
      - 'updatechanpolicy': 'lightning-network/dcrlncli/updatechanpolicy.md'
      - 'exportchanbackup': 'lightning-network/dcrlncli/exportchanbackup.md'
      - 'verifychanbackup': 'lightning-network/dcrlncli/verifychanbackup.md'
      - 'restorechanbackup': 'lightning-network/dcrlncli/restorechanbackup.md'
    - Graph Commands:
      - 'describegraph': 'lightning-network/dcrlncli/describegraph.md'
      - 'getnodemetrics': 'lightning-network/dcrlncli/getnodemetrics.md'
      - 'getchaninfo': 'lightning-network/dcrlncli/getchaninfo.md'
      - 'getnodeinfo': 'lightning-network/dcrlncli/getnodeinfo.md'
    - Invoice Commands:
      - 'addinvoice': 'lightning-network/dcrlncli/addinvoice.md'
      - 'lookupinvoice': 'lightning-network/dcrlncli/lookupinvoice.md'
      - 'listinvoices': 'lightning-network/dcrlncli/listinvoices.md'
      - 'decodepayreq': 'lightning-network/dcrlncli/decodepayreq.md'
      - 'cancelinvoice': 'lightning-network/dcrlncli/cancelinvoice.md'
      - 'addholdinvoice': 'lightning-network/dcrlncli/addholdinvoice.md'
      - 'settleinvoice': 'lightning-network/dcrlncli/settleinvoice.md'
    - Macaroon Commands:
      - 'bakemacaroon': 'lightning-network/dcrlncli/bakemacaroon.md'
      - 'listmacaroonids': 'lightning-network/dcrlncli/listmacaroonids.md'
      - 'deletemacaroonid': 'lightning-network/dcrlncli/deletemacaroonid.md'
      - 'listpermissions': 'lightning-network/dcrlncli/listpermissions.md'
      - 'printmacaroon': 'lightning-network/dcrlncli/printmacaroon.md'
    - On-chain Commands:
      - 'estimatefee': 'lightning-network/dcrlncli/estimatefee.md'
      - 'sendmany': 'lightning-network/dcrlncli/sendmany.md'
      - 'sendcoins': 'lightning-network/dcrlncli/sendcoins.md'
      - 'listunspent': 'lightning-network/dcrlncli/listunspent.md'
      - 'listchaintxns': 'lightning-network/dcrlncli/listchaintxns.md'
    - Payment commands:
      - 'sendpayment': 'lightning-network/dcrlncli/sendpayment.md'
      - 'payinvoice': 'lightning-network/dcrlncli/payinvoice.md'
      - 'sendtoroute': 'lightning-network/dcrlncli/sendtoroute.md'
      - 'listpayments': 'lightning-network/dcrlncli/listpayments.md'
      - 'queryroutes': 'lightning-network/dcrlncli/queryroutes.md'
      - 'fwdinghistory': 'lightning-network/dcrlncli/fwdinghistory.md'
      - 'trackpayment': 'lightning-network/dcrlncli/trackpayment.md'
      - 'querymc': 'lightning-network/dcrlncli/querymc.md'
      - 'queryprob': 'lightning-network/dcrlncli/queryprob.md'
      - 'resetmc': 'lightning-network/dcrlncli/resetmc.md'
      - 'buildroute': 'lightning-network/dcrlncli/buildroute.md'
    - Peer commands:
      - 'connect': 'lightning-network/dcrlncli/connect.md'
      - 'disconnect': 'lightning-network/dcrlncli/disconnect.md'
      - 'listpeers': 'lightning-network/dcrlncli/listpeers.md'
    - Startup commands:
      - 'create': 'lightning-network/dcrlncli/create.md'
      - 'unlock': 'lightning-network/dcrlncli/unlock.md'
      - 'changepassword': 'lightning-network/dcrlncli/changepassword.md'
    - Wallet commands:
      - 'newaddress': 'lightning-network/dcrlncli/newaddress.md'
      - 'walletbalance': 'lightning-network/dcrlncli/walletbalance.md'
      - 'signmessage': 'lightning-network/dcrlncli/signmessage.md'
      - 'verifymessage': 'lightning-network/dcrlncli/verifymessage.md'
      - 'wallet': 'lightning-network/dcrlncli/wallet.md'
    - Watchtower commands:
      - 'tower': 'lightning-network/dcrlncli/tower.md'
      - 'wtclient': 'lightning-network/dcrlncli/wtclient.md'
- FAQ:
  - 'General': 'faq/general.md'
  - 'Configuration': 'faq/configuration.md'
  - 'Wallets and Seeds': 'faq/wallets-and-seeds.md'
  - 'Blocks': 'faq/blocks.md'
  - 'Common Errors and Solutions': 'faq/errors.md'
  - 'PoW': 'faq/proof-of-work-mining.md'
  - PoS:
    - 'General': 'faq/proof-of-stake/general.md'
    - 'Solo Voting': 'faq/proof-of-stake/solo-voting.md'
    - 'Buying Tickets and Fees': 'faq/proof-of-stake/buying-tickets-and-fees.md'
    - 'Voting Service Providers': 'faq/proof-of-stake/voting-service-providers.md'
- Advanced:
  - 'Manual CLI Installation': 'advanced/manual-cli-install.md'
  - 'dcrtime': 'advanced/dcrtime.md'
  - 'Verifying Binaries': 'advanced/verifying-binaries.md'
  - 'Premine': 'advanced/premine.md'
  - 'Issuance': 'advanced/issuance.md'
  - 'Deleting Your Wallet': 'advanced/deleting-your-wallet.md'
  - 'Navigating Politeia Data': 'advanced/navigating-politeia-data.md'
  - 'Solo Proof-of-Stake (PoS) Voting': 'advanced/solo-proof-of-stake-voting.md'
  - 'Operating a VSP': 'advanced/operating-a-vsp.md'
  - 'Running a Full Node': 'advanced/full-node.md'
  - 'Security': 'advanced/general-security.md'
  - 'Atomic Swaps': 'advanced/atomic-swap.md'
  - 'Decred Seed and BIP-0039': 'advanced/mnemonic-seed.md'
- Research:
  - 'Overview': 'research/overview.md'
  - 'Hybrid Design': 'research/hybrid-design.md'
  - 'Decentralized Stake Pooling': 'research/decentralized-stake-pooling.md'
  - 'Elliptic Curve Signature Algorithms': 'research/elliptic-curve-signature-algorithms.md'
  - 'BLAKE-256 Hash Function': 'research/blake-256-hash-function.md'
  - 'Script Extensions': 'research/script-extensions.md'
  - 'Signature Script Isolation and Fraud Proofs': 'research/signature-script-isolation-and-fraud-proofs.md'
  - 'Block Production Times': 'research/block-production-times.md'
  - 'Schnorr Signatures': 'research/schnorr-signatures.md'
  - 'Miscellaneous Improvements': 'research/miscellaneous-improvements.md'
- Contributing:
  - 'Overview': 'contributing/overview.md'
  - 'Contributor Compensation': 'contributing/contributor-compensation.md'
- 'Glossary': 'glossary.md'
- About:
    - 'License': 'about/license.md'
copyright: If you wish to improve this site, please <a href="https://github.com/decred/dcrdocs/issues/new">open an issue</a> or <a href="https://github.com/decred/dcrdocs/compare">send a pull request</a>.<br />dcrdocs v0.0.3. Decred Project 2020.
