site_name: Decred Documentation
theme: 
  name: material
  custom_dir: theme_override
  favicon: 'img/favicon.ico'
  logo: 'img/logo_full_color.svg'
  font: false
extra:
  social:
    - type: 'github'
      link: 'https://github.com/decred'
    - type: 'twitter'
      link: 'https://twitter.com/decredproject'
    - type: 'reddit'
      link: 'https://www.reddit.com/r/decred/'
    - type: 'youtube'
      link: 'https://www.youtube.com/decredchannel'
site_url: https://docs.decred.org
repo_url: https://github.com/decred/dcrdocs
repo_name: decred/dcrdocs
markdown_extensions:
  - markdown.extensions.footnotes
  - markdown.extensions.smarty
  - markdown.extensions.admonition
  - markdown.extensions.toc:
      permalink: True
  - markdown.extensions.tables
  - pymdownx.details
  - pymdownx.arithmatex
  - fontawesome_markdown
extra_javascript:
  - js/MathJax-2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML
extra_css:
  - css/fonts.css
  - css/style.css
pages:
- 'Home': 'index.md'
- Getting Started:
  - "Beginner's Guide": 'getting-started/beginner-guide.md'
  - 'Obtaining DCR': 'getting-started/obtaining-dcr.md'
  - 'Using the Block Explorer': 'getting-started/using-the-block-explorer.md'
- Governance:
  - 'Introduction to Decred governance': 'governance/governance.md'
  - 'Consensus rules voting': 'getting-started/user-guides/agenda-voting.md'
  - 'How to Vote on consensus rule changes': 'getting-started/user-guides/how-to-vote.md'
  - 'Politeia proposals and voting': 'governance/politeia.md'
  - 'Decred Constitution': 'getting-started/constitution.md'
- Wallets:
    - Decrediton (GUI):
      - 'Decrediton Setup': 'getting-started/user-guides/decrediton-setup.md'
      - 'Using Decrediton': 'getting-started/user-guides/using-decrediton.md'
    - CLI Wallet:
      - 'Installation': 'getting-started/user-guides/cli-installation.md'
      - 'OS Differences': 'getting-started/cli-differences.md'
      - 'Startup Basics': 'getting-started/startup-basics.md'
      - 'dcrd Setup': 'getting-started/user-guides/dcrd-setup.md'
      - 'dcrwallet Setup': 'getting-started/user-guides/dcrwallet-setup.md'
      - 'dcrctl Basics': 'getting-started/user-guides/dcrctl-basics.md'
      - 'Buying Tickets': 'getting-started/user-guides/dcrwallet-tickets.md'
      - 'dcrd and dcrwallet CLI Arguments': 'getting-started/dcrd-and-dcrwallet-cli-arguments.md'
      - 'dcrctl RPC Commands': 'getting-started/dcrctl-rpc-commands.md'
    - 'Web Wallet': 'getting-started/user-guides/web.md'
- Proof-of-Stake Voting:
  - "What is Proof-of-Stake?": 'mining/proof-of-stake.md'
  - "How to Stake": 'mining/how-to-stake.md' 
  - PoS FAQ:
    - 'General': 'faq/proof-of-stake/general.md'
    - 'Solo Mining': 'faq/proof-of-stake/solo-mining.md'
    - 'Buying Tickets and Fees': 'faq/proof-of-stake/buying-tickets-and-fees.md'
    - 'Voting Tickets': 'faq/proof-of-stake/voting-tickets.md'
    - 'Stake Pools': 'faq/proof-of-stake/stake-pools.md'
- Proof-of-Work Mining:
  - 'Overview': 'mining/proof-of-work.md'
  - 'gominer Pool Mining': 'mining/proof-of-work/pool-mining/gominer.md'
  - 'PoW FAQ': 'faq/proof-of-work-mining.md'
- FAQ:
  - 'General': 'faq/general.md'
  - 'Configuration': 'faq/configuration.md'
  - 'Wallets and Seeds': 'faq/wallets-and-seeds.md'
  - 'Web Client': 'faq/web-client.md'
  - 'Blocks': 'faq/blocks.md'
  - 'Common Errors and Solutions': 'faq/errors.md'
- Advanced:
  - 'Using Testnet': 'getting-started/using-testnet.md'
  - 'Manual CLI Installation': 'advanced/manual-cli-install.md'
  - 'Storing Login Details': 'advanced/storing-login-details.md'
  - 'Block Header Specifications': 'advanced/block-header-specifications.md'
  - 'Blockchain Parameters': 'advanced/blockchain-parameters.md'
  - 'Transaction Details': 'advanced/transaction-details.md'
  - 'Verifying Binaries': 'advanced/verifying-binaries.md'
  - 'Inflation': 'advanced/inflation.md'
  - 'Deleting Your Wallet': 'advanced/deleting-your-wallet.md'
  - 'Simnet': 'advanced/simnet.md'
- Research:
  - 'Overview': 'research/overview.md'
  - 'Hybrid Design': 'research/hybrid-design.md'
  - 'Decentralized Stake Pooling': 'research/decentralized-stake-pooling.md'
  - 'Elliptic Curve Signature Algorithms': 'research/elliptic-curve-signature-algorithms.md'
  - 'BLAKE-256 Hash Function': 'research/blake-256-hash-function.md'
  - 'Script Extensions': 'research/script-extensions.md'
  - 'Signature Script Isolation and Fraud Proofs': 'research/signature-script-isolation-and-fraud-proofs.md'
  - 'Transaction Extensions': 'research/transaction-extensions.md'
  - 'Schnorr Signatures': 'research/schnorr-signatures.md'
  - 'Miscellaneous Improvements': 'research/miscellaneous-improvements.md'
- Contributing:
  - 'Contributor Compensation': 'advanced/contributor-compensation.md'
  - Guidelines:
    - 'Using GitHub': 'advanced/using-github.md'
    - 'Source Code Contributions': 'advanced/contributing.md'
- About:
  - 'Support Directory': 'support-directory.md'
  - 'Credits': 'about/credits.md'
  - 'License': 'about/license.md'
copyright: If you wish to improve this site, please <a href="https://github.com/decred/dcrdocs/issues/new"><i class="fa fa-github"></i> open an issue</a> or <a href="https://github.com/decred/dcrdocs/compare"><i class="fa fa-github"></i> send a pull request</a>.<br>dcrdocs v0.0.2. Decred Project 2016.
