@font-face {
    font-family: "dcrdocs-code";
    src:
        url("/css/fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf.woff2") format("woff2"),
        url("/css/fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf.woff")  format("woff"),
        url("/css/fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf")       format("truetype"),
        url("/css/fonts/SourceCodePro-Regular/SourceCodePro-Regular.eot")       format("embedded-opentype");
    font-display: swap;
}

@font-face {
    font-family: "dcrdocs";
    src:
        url("/css/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf.woff2") format("woff2"),
        url("/css/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf.woff") format("woff"),
        url("/css/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf") format("truetype"),
        url("/css/fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot") format("embedded-opentype");
    font-display: swap;
}

@font-face {
    font-family: "dcrdocs";
    src:
        url("/css/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf.woff2") format("woff2"),
        url("/css/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf.woff") format("woff"),
        url("/css/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf") format("truetype"),
        url("/css/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.eot") format("embedded-opentype");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "dcrdocs";
    src:
        url("/css/fonts/SourceSansPro-It/SourceSansPro-It.ttf.woff2") format("woff2"),
        url("/css/fonts/SourceSansPro-It/SourceSansPro-It.ttf.woff") format("woff"),
        url("/css/fonts/SourceSansPro-It/SourceSansPro-It.ttf") format("truetype"),
        url("/css/fonts/SourceSansPro-It/SourceSansPro-It.eot") format("embedded-opentype");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "dcrdocs";
    src:
        url("/css/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf.woff2") format("woff2"),
        url("/css/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf.woff") format("woff"),
        url("/css/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf") format("truetype"),
        url("/css/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.eot") format("embedded-opentype");
    font-style: italic;
    font-weight: bold;   
    font-display: swap;
}

html, body {
    font-family: "dcrdocs", "Verdana", sans-serif;
}

pre, code {
    font-family: "dcrdocs-code", "Courier New", monospace;
}

.md-typeset h1 {
    color         : var(--dcrdocs-h1-color);
    font-size     : 34px;
    text-transform: none;
}

.md-typeset h2 {
    color         : var(--dcrdocs-h2-color);
    font-size     : 26px;
    text-transform: none;
    font-weight   : bold;
}

.md-typeset h3 {
    color         : var(--dcrdocs-h3-color);
    font-size     : 23px;
    text-transform: none;
}

.md-typeset h4 {
    color         : var(--dcrdocs-h4-color);
    font-size     : 20px;
    text-transform: none;
    font-weight   : bold;
}

.md-typeset h5 {
    color         : var(--dcrdocs-h5-color);
    font-size     : 18px;
    text-transform: none;
}

.md-typeset h6 {
    color         : var(--dcrdocs-h6-color);
    font-size     : 16px;
    text-transform: none;
    font-weight   : bold;
}

.md-typeset p,
.md-typeset ul,
.md-typeset ol,
.md-typeset table {
    font-size: 16px;
}


.md-typeset a {
    font-weight: bold;
}
/* We want all links to be bold, but not if they contain
font-awesome icons */
a.fa{
    font-weight: normal;
}

.md-typeset blockquote {
    border-left:.2rem solid var(--md-typeset-color);
}
.md-typeset blockquote p,
.md-typeset blockquote ul,
.md-typeset blockquote ol
 {
    font-style: italic;
}
