[data-md-color-scheme="dcrdocs-light"] {
    /* Header bg color */
    --md-primary-fg-color:           #091440;
    /* Mobile nav menu bg color */
    --md-primary-fg-color--dark:     #122c5c;
    /* Background */
    --md-default-bg-color:           #fff;
    /* h1 & table header bg */
    --md-default-fg-color--light:    #596D81;
    /* Edit icon (pencil) */
    --md-default-fg-color--lighter:  #596D81;
    /* <hr> */
    --md-default-fg-color--lightest: rgba(0,0,0,0.1);
    /* Main body text & h2, h3, etc. */
    --md-typeset-color:              #48566E;
    /* <a> */
    --md-typeset-a-color:            #2970FF;
    /* <a> :hover */
    --md-accent-fg-color:            #1A59F7;
    /* Footer */
    --md-footer-fg-color:            #fff;
    --md-footer-bg-color:            #091440;
    /* Code */
    --md-code-fg-color:              #48566E;
    --md-code-bg-color:              #EDEFF1;
    /* Admonitions */
    --md-admonition-fg-color:        #48566E;
    --md-admonition-bg-color:        #fff;
    /* Custom colors for headings */
    --dcrdocs-h1-color:              #596D81;
    --dcrdocs-h2-color:              #091440;
    --dcrdocs-h3-color:              #091440;
    --dcrdocs-h4-color:              #091440;
    --dcrdocs-h5-color:              #091440;
    --dcrdocs-h6-color:              #596D81;
    /* Custom colors for table headers */
    --dcrdocs-table-bg-color:        #EDEFF1;
    --dcrdocs-table-fg-color:        #091440;
}

[data-md-color-scheme="dcrdocs-dark"] {
    /* Header bg color */
    --md-primary-fg-color:           #091440;
    /* Mobile nav menu bg color */
    --md-primary-fg-color--dark:     #122c5c;
    /* Background */
    --md-default-bg-color:           #223767;
    /* h1 & table header bg */
    --md-default-fg-color--light:    #b7deee;
    /* Edit icon (pencil) */
    --md-default-fg-color--lighter:  #b7deee;
    /* <hr> */
    --md-default-fg-color--lightest: rgba(255,255,255,0.1);
    /* Main body text & h2, h3, etc. */
    --md-typeset-color:              #99c1e3;
    /* <a> */
    --md-typeset-a-color:            #4A92FF;
    /* <a> hover */
    --md-accent-fg-color:            #66A9FF;
    /* Footer */
    --md-footer-fg-color:            #E9F8FE;
    --md-footer-bg-color:            #152042;
    /* Code */
    --md-code-fg-color:              #99c1e3;
    --md-code-bg-color:              #152042;
    /* Admonitions */
    --md-admonition-fg-color:        #99c1e3;
    --md-admonition-bg-color:        #223767;
    /* Custom colors for headings */
    --dcrdocs-h1-color:              #99c1e3;
    --dcrdocs-h2-color:              #99c1e3;
    --dcrdocs-h3-color:              #99c1e3;
    --dcrdocs-h4-color:              #99c1e3;
    --dcrdocs-h5-color:              #99c1e3;
    --dcrdocs-h6-color:              #99c1e3;
    /* Custom colors for table headers */
    --dcrdocs-table-bg-color:        #152042;
    --dcrdocs-table-fg-color:        #EDEFF1;
}

/* Hide images for light mode */
[data-md-color-scheme="dcrdocs-dark"] img[src$="#only-light"] {
  display: none;
}

/* Show images for dark mode */
[data-md-color-scheme="dcrdocs-dark"] img[src$="#only-dark"] {
  display: initial;
}

/* Highlight current page in nav menu */
.md-nav__link--active {
    font-weight: bold;
}

/* Increase size of social media links in page footer */
.md-footer-social {
    font-size: 20px;
}

h1 img.dcr-icon {
    height: 28px;
    width : 28px;
    vertical-align: middle;
}

h2 img.dcr-icon,
h3 img.dcr-icon,
h4 img.dcr-icon,
h5 img.dcr-icon,
h6 img.dcr-icon {
    height: 26px;
    width : 26px;
    vertical-align: middle;
}

p img.dcr-icon {
    height: 24px;
    width : 24px;
    vertical-align: middle;
}

/* Disable min-width for headers in tables with at least 7 columns */
.md-typeset table:not([class]) th:first-child:nth-last-child(n+7),
.md-typeset table:not([class]) th:first-child:nth-last-child(n+7) ~ th {
	min-width: 0;
}

/* Improve appearance of tables inside pymdownx.details panels.
   Details panel will have an unnecessary horizontal scroller without this.
   Used in dcrd-and-dcrwallet-cli-arguments.md  */
details .md-typeset__scrollwrap {
    margin: 0 !important;
}
details .md-typeset__table {
    padding: 1.6em 0 !important;
}

.md-typeset__table code{
    white-space: nowrap;
}

.md-typeset table:not([class]) {
    border: 0;
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0 0.05rem rgb(0 0 0 / 10%);
}
.md-typeset table:not([class]) tr:first-child td {
    border-top: 0;
}
.md-typeset table:not([class]) th{
    background-color: var(--dcrdocs-table-bg-color);
    font-size: 13px;
    font-weight: bold;
    color: var(--dcrdocs-table-fg-color);
}
.md-typeset table:not([class]) td{
    font-size: 13px;
}

.md-typeset .admonition p{
    font-size: 14px;
}

.md-typeset blockquote p{
    padding: 12px 0 12px;
}

.md-typeset code {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    box-shadow: none;
}

.md-typeset pre>code {
    border-radius: 3px;
}

.tabbed-set {
    border-left: .2rem solid #536dfe;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.05), 0 0 0.05rem rgba(0,0,0,.1);
}

/* .dcrm is shorthand for dcrdocs maths.
   It is shortened because it appears inline many times in some .md files. Used
   for displaying mathematical values and formula.
*/
.dcrm {
    font-family: math;
    font-size: 17px !important;
}

.dcrm_block {
    text-align: center;
}

.timeline-date {
    font-family: "dcrdocs-code";
    color: #596D81;
    white-space: nowrap;
    font-size: 14px !important;
    padding: 14px !important;
}

.timeline-event {
    font-size: 15px !important;
    padding: 14px !important;
    color: #596D81;
}
