@font-face {
    font-family: 'dcrdocs';
    src:    url('fonts/dcrdocs.eot?edhhde');
    src:    url('fonts/dcrdocs.eot?edhhde#iefix') format('embedded-opentype'),
        url('fonts/dcrdocs.ttf?edhhde') format('truetype'),
        url('fonts/dcrdocs.woff?edhhde') format('woff'),
        url('fonts/dcrdocs.svg?edhhde#dcrdocs') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcrdocs' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-block:before {
    content: "\e900";
}
.icon-cryptocurrency:before {
    content: "\e901";
}
.icon-decred_symbol:before {
    content: "\e902";
}

/* karambles additional css for new theme */

body {
	background-color: #FFFFFF;
	color: #5a6d81;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #2970ff;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 0 0 0 rgba(0,0,0,0.0);
}

hr {
	border-top: 1px solid #e2e2e2;
}

code {
	background-color: #0c1e3e;
	color: #ffffff;
	border: 1px solid #2ed8a3;
}
a {
	color: #2970ff;
}
a:hover, a:focus {
	color: #2970ff;
}

.well {
	background-color: #2970ff;
	border: 0;
}

.nav > li > a {
	color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #0c1e3e;
}

.navbar {
	background-image: linear-gradient(#0c1e3e,#102853 60%,#15346d);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #2970ff;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #0c1e3e;
}

.dropdown-menu {
	background-color: #2970ff;
}

.dropdown-menu > li > a {
	color: #ffffff;
}

.dropdown-submenu > a::after {
	border-left-color: #ffffff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #0c1e3e;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #2767e9;
}




.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #2767e9;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #0c1e3e;
	color: #ffffff;
}
