@font-face {
    font-family: 'dcrdocs';
    src: url('fonts/dcrdocs.eot?#iefix&v=4.0.3');
    src: url('fonts/dcrdocs.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('fonts/dcrdocs.woff?v=4.0.3') format('woff'), url('fonts/dcrdocs.ttf?v=4.0.3') format('truetype'), url('fonts/dcrdocs.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inconsolata-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       url('../fonts/inconsolata-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inconsolata-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inconsolata-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inconsolata-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inconsolata-v15-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v9-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

html {
    font-size: 52.5%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    box-sizing:  border-box;
    background-color: #0c1e3e;
    color: #13385e;

}
.container {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #0c1e3e;
}



table {
    background-color: #fff;
}
a {
    color: #525252;
}

div[role=main] .headerlink {
    display: none;
    padding-left: .5em;
    text-decoration: none;
}

p {
    font-size: 1.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-shadow: none;
    color: #132f4b;
}

h1 {
    font-size: 4.2rem;
    font-weight: normal;
    padding-right: 35px;
}

h2 {
    font-size: 2.6rem;
    margin: 26px 0 20px 0;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    display: inline-block;
}
:target::before {
    content: "";
    display: block;
    pointer-events: none;
    height: 10px;
    margin-top: 10px;
}

blockquote {
    border-left: 5px solid #8997af;
    margin-bottom: 10px;
}

blockquote p {
    font: 600 17.5px Source Sans Pro, sanse serif;
}

ol li {
    font-size: 1.7rem;
}

ol {
    padding-left: 14px;
}

ul {
    list-style: none;
}

li.active> a {
    color: #69D5F7!important;
}
li.active> a.current {
    color: #3d8ead!important;
}

ul.nav li.main {
    font-weight: bold;
}

div[role=navigation] {
    padding: 0;
    margin: 0;
    background-color: #0C1E3E;
    vertical-align: top;
}
div[role=navigation] a.current {
    color: #5cb0c7;
}


.navbar {
    background-image: none;
    background-image: none;
    background-repeat: none;
    background-color: #0c1e3e;
    border: 0;
}

.navbar-toggle {
    outline: none;
    margin: 5px 5px 0 0;
    border: 0;
}
.navbar-toggle .icon-bar {
    background-color: #2ed7a2;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    outline: none;
}

.navbar-collapse {
    box-shadow: none;
    border: 0;
    max-height: inherit;
    padding: 0;
}

div[role=main] {
    padding: 0 10px 40px 10px;
    background-color: #f4f7f9;
    min-height: 100%;
    min-height: 100vh;
}
div[role=main] .content {
    max-width: 900px;
}
div[role=main] p {
    font-weight: 300;
}
div[role=main] ul {
    list-style: inherit;
}
div[role=main] li {
    font-family: 'Source Sans Pro', sans-serif;
}

div.source-links {
    float: right;
}
div[role=main] img {
    max-width: 100%;
}
div[role=main] a {
    text-decoration: underline;
}

pre {
    margin: 10px 0 20px 0;
    font-size: 1.5rem;
    color: #09182d;
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-family: 'Inconsolata', monospace;
}
code {
    padding: 1px 3px;
    background: #d4f0fd;
    color: #132f4b;
}
pre code {
    background: transparent;
    border: none;
}
a > code {
    color: #2970ff;
}

a:hover,
a:focus {
    color: #2970ff;
}

p>a {
    color: #2970ff;
}

h4 a {
    color: #132f4b;
}

strong a {
    color: #132f4b;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */


.top-bar {
    background: #091440;
}

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: inherit;
    border: 0;
}
.bs-sidenav {
    background: #0c1e3e;
}
.bs-sidenav > li {
    margin-bottom: 4px;
    line-height: 1.3em;
}
.nav-link > ul > li:first-child {
    font-size: 20px;
    padding: 0 0 10px 0;
}
.bs-sidenav a {
    font-family: 'Inconsolata', monospace;
    color: #d4f0fd;
    font-size: 1.7rem;
    padding-bottom: 50px;
}
.bs-sidenav a:focus {
    font-weight: bold;
    color: #3bd0ff;
    outline: none;
}
.nav-link {
    padding-right: 5px;
}

/* page nav */
.page-nav {
    padding: 0 0 0px 15px;
}
.subnav .group-heading {
    color: #7990a9;
    margin-left: -1px;
}

.navbar-collapse.in {
    overflow-y: visible;
}

.table>thead>tr>th {
    border-bottom: 2px solid #f0f4f4;
    background-color: #132f4b;
    font-family: source-sans, sans-serif;
    font-weight: 600;
    color: #e7eaed;
}

.table>tbody>tr>td,
.table>tbody>tr>td>a {
    color: #132f4b;
    font-family: 'Source Sans Pro', sans-serif;
}

.table>tbody>tr>td>a:hover {
    color: #2970ff;
}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fff
}

.table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #d4f0fd;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #f3f6f6;
}

.table>tbody>tr>td {
    border: 1px solid #f0f4f4;
    border-right: 0;
    border-left: 0;
}

.subnav {
    padding: 0 0 8px 20px;
    color: #d4f0fd;
}

.svg-decred-logo {
    width: 110px;
    margin: 3px 0 0 5px;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.svg-search {
    width: 22px;
    height: 22px;
}
.search-nav {
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
}
.search-nav .input-group {
    width: 100%;
    background: #2a2f33;
}
.search-nav .input-group input {
    background: #2a2f33;
    color: gray;
}

.search-nav .input-group .input-group-addon {
    width: 35px;
    padding: 5px 0px 0px 10px;
    border-color: transparent;
    background: #2a2f33;
    background-image: none;
}

.search-nav .input-group .form-control {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0;
    transition: 0
}

.search-nav .input-group .form-control:focus {
    outline: none;
    box-shadow: none;
}

#mkdocs-search-results {
    background: #dcdcdc;
}
#mkdocs-search-results p {
    font-size: 12px;
}
#mkdocs-search-results h3 {
    margin: 0 0 4px 0;
    line-height: 14px;
}
#mkdocs-search-results h3 a {
    color: #2970ff
}
#mkdocs-search-results article {
    padding: 7px 10px 3px;
}
#mkdocs-search-results article:nth-child(odd) {
    background: #f1f1f1;
}
#mkdocs-search-results > p {
    padding: 10px;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'dcrdocs' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-decred_symbol:before {
    content: "\e902";
}

.icon-cryptocurrency:before {
    content: "\e901";
}

.icon-block:before {
    content: "\e900";
}

@media (max-width: 1600px) {
    .container {
        width: 100%;
    }
}

.github-logo {
    padding-top: 22px;
}

div[role=main] .github-page-link {
    text-align: center;
    position: absolute;
    top: 12px;
    right: 15px;
    text-decoration: none;
    color: #132f4b;
}

.github-page-link .fa {
   font-size: 3.0rem;
}
.github-page-link > div {
    font-size: 10px;
    width: 30px;
}

@media (min-width: 767px) {
    div[role=main] {
        padding: 0px 15px 50px 30px;
    }
    .navbar-collapse {
        padding: 0  15px;
    }
    .svg-decred-logo {
        width: 190px;
        height: 64px;
        margin: 5px 0 0;
        position: fixed;
        top: 0;
    }
    .bs-sidenav {
        position: fixed;
        width: 25%;
        max-width: 360px;
        margin: 0 -15px;
        overflow-y: scroll;
        top: 70px;
        bottom: 0;
    }
}

@media (min-width: 1048px) {
    div[role=main] {
        padding: 15px 45px 45px 45px;
    }
}

/*highlighting*/
.hljs-keyword,
.hljs-selector-tag {
    color: #2252a3;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #fd7149;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-subst,
.hljs-attribute {
    color: #41bf53;
}

.hljs-title,
.hljs-section {
    color: #132f4b;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #2ec7a3;
}

.hljs-comment,
.hljs-quote {
    color: #858e9e;
}

.hljs {
    color: #132f4b
}
